# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
.idea
.vscode

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Additional
builds/*
data/sqlite.db

# Development
setup.cfg
pyproject.toml
Makefile
requirements_dev.txt